@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", Sans-Serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.navbar-heading a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav-items ul {
    margin: 0px;
    padding: 0px;
    display: flex;

}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav-items li a:hover {
    background-color: #333;
}

.menu-icon {
    position: absolute;
    display: none;
    top: 12px;
    right: 10px;
}

.menu-icon i {
    color: white;
    font-size: 40px;
}

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.home-page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
}

.social-media-icons i {
    font-size: 35px;
    margin: 10px;
}

.home-section-img {
    display: flex;
    justify-content: center;
}

.img1 {
    height: auto;
    max-width: 100%;
}

.what-i-do i {
    font-size: 30px;
    margin-right: 10px;
}

.what-i-do-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-development {
    padding: 20px;
    background-color: red;
    border-radius: 20px;
    margin: 20px;
}

.img2 {
    height: auto;
    width: 100%;
}

.web-des {
    color: white;
    text-align: center;
}

.edu-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edu-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.edu-card {
    background-color: #2b5489;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: white;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    background-color: #2b5489;
    min-height: 100vh;
}

.heading {
    color: white;
    width: 90%;
    max-width: 900px;
    text-align: center;
    font-size: 48px;
}

.description {
    color: #e2e8f0;
    margin-bottom: 56px;
    width: 90%;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 900px;
}

.card {
    background-color: white;
    width: 210px;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    padding-left: 28px;
    margin-bottom: 24px;
    font-family: "Open Sans";
    margin-left: 12px;
    margin-right: 12px;
    font-size: 18px;
    color: #334155;
}

.border-green {
    border-left: 8px solid #65a30d;
}

.border-dark-green {
    border-left: 8px solid #0d9488;
}

.border-dark-yellow {
    border-left: 8px solid #ca8a04;
}

.border-orange {
    border-left: 8px solid #ea580c;
}

.border-blue {
    border-left: 8px solid #4f46e5;
}

.border-violet {
    border-left: 8px solid #9333ea;
}

.border-pink {
    border-left: 8px solid #db2777;
}

.border-red {
    border-left: 8px solid #e11d48;
}

.skills-set {
    background-color: black;
    height: 460px;
    width: 100%;
    padding: 10px;
    margin: 20px;

}

.projects-des {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img5 {
    height: auto;
    width: 100%;
}

.project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: white;

}

.project1 a {
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
}

.project1 a:hover {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

.show-more {
    display: none;
}

.goto-git {
    display: none;
}

.img7 {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.profile-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.address-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

















@media (max-width:576px) {
    .nav-items {
        display: none;
        width: 100%;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-items.active {
        display: flex;
    }

    .home-section {
        flex-direction: column;
    }
}

@media (min-width:576px) {
    .edu-card {
        margin-left: 110px;
        margin-right: 110px;
        border-radius: 15px;
    }

    .bg-container {
        margin-left: 90px;
        margin-right: 90px;
        border-radius: 15px;
    }

    .contact-me {
        margin-left: 110px;
        margin-right: 110px;
    }
}